<?php
// Deny Direct Access
defined('APP_PATH') || http_response_code(403).die('403 Direct Access Denied!');
?>
<!doctype html>
<html>
    <head>
        <title>{{NAME}} | LAIKA</title>
    </head>
    <body>
        <main>
            <h2>Welcome to {{NAME}}</h2>
        </main>
    </body>
</html>