<?php
// Deny Direct Access
defined('BASE_PATH') || http_response_code(403).die('403 Direct Access Denied!');
?>
<!doctype html>
<html>
    <head>
        <title>Page Title</title>
    </head>
    <body>
        <main>
            <h2>Welcome</h2>
        </main>
    </body>
</html>